<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
        <dict>
                <key>Label</key>
                <string>com.codeography.jekyll</string>
                <key>WorkingDirectory</key>
                <string>/Users/csexton/src/codeography.com</string>
                <key>ProgramArguments</key>
                <array>
                        <string>./_etc/run_launchd.sh</string>
                </array>
                <key>WatchPaths</key>
                <array>
                        <string>/Users/csexton/src/codeography.com</string>
                </array>
                <key>StandardOutPath</key>
                <string>/dev/null</string>
                <key>ThrottleInterval</key>
                <integer>10</integer>
        </dict>
</plist>
