<div class="span-18 prepend-2">
  <div class='entry'>
    <h2 class='title'><a href="{{ post.url}}">{{ page.title }}</a></h2>
    <div class='byline'>{{ post.date | date:"%B %d, %Y" }} by Christopher Sexton</div>
    <div class='body'>
      {% if hide_extended %}
      {{ post.content }}
      {% if post.extended.size > 0 %}
      <p>Continue reading at <a href='{{ post.url }}'>{{ post.title }}</a>.</p>
      {% endif %}
      {% else %}
      {{ post.content }}
      {{ post.extended }}
      {% endif %}
    </div>
    <div class='comment'>
      <span>
        <a href='{{ post.url }}'>Permalink</a> | <a href='{{ post.url }}#disqus_thread'>View Comments</a>
      </span>
    </div>

    <div class='footer'>
    </div>
    <br />
    <br />
  </div>
</div>
