@import url("http://fonts.googleapis.com/css?family=Cantarell");

/*
 * Solarized color scheme rules
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
*/

body {
  font: 17px Georgia,Serif;
}
hr {background:#606060;color:#606060;}
hr.space {background:none;color:none;}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cantarell', arial, serif;
  font-weight:bolder;
  color:#CB4B16;
  border: none;
}
h2 a {
  color: #CB4B16;
}
h4 {margin-bottom: 0.3em}
h5 {margin-bottom: 0.3em}
p {line-height:160%;}

pre, code, tt {
  background-color: #f5f5f5;
  font-size: 0.8em;
}
code {
  border-radius: 3px;
  padding-left: 5px;
  padding-right: 5px;
}
pre code {
  font-size: 1.0em;
  padding-left: 0px;
  padding-right: 0px;
}
div.border {border-color:#606060;}
div.colborder {border-color:#606060;}
a, a:focus {
  color: #2D8CCF;
  text-decoration: none;
  /*border-bottom:1px dotted #333333;*/
}
a:link {
}
a:visited {
  color: #6C73C2;
}
a:active {
  color: #D13A82;
}
a:hover {
  text-decoration: underline;
}
a.image_link {
  text-decoration: none;
  border-bottom: none;
}
a.image_link:hover {
  background: none;
}
.byline {
  color: #839496;
  color: #93a1a1;
  margin-top: -15px;
  margin-bottom: 15px;
  font-size: 12px;
}
h2.title {
  padding-bottom: 0;
}
#header h1{
  padding: 0;
  margin: 15px 0;
}
#header h2{
  padding: 15px 0;
  margin: 0;
  font-size: 14px;
  text-align: right;
  text-shadow: none;
}
#header h1 a{
  text-decoration: none;
  border-bottom: none;
  color: #657B83;
  text-shadow: 0px 1px 0px black;
}
#header h1 a:hover {
  background-color: #002B36;
  background-color: #073642;
}
#header {
  padding-top: 15px;
  width: 750px;
  margin: 0 auto;
}
#header_row {
}

#header .logo {
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background-image: url("/images/base/rocket-grey.png");
  background-size: 100% 100%;
    background-repeat: no-repeat;
}
#header:hover .logo {
  background-image: url("/images/base/rocket.png");
}
#preload-01 { background: url("/images/base/rocket.png") no-repeat -9999px -9999px; }
#header:hover .nav {
  display:block;
}
#header .nav {
  float: right;
  display:none;
  display:block;
}

#header .nav a {
  color: #93A1A1;
  padding-right: 5px;
  font-size: 13px;
}

#header .nav a:hover {
  color: #CB4B16;
  text-decoration: none;
}


#footer {
  color: #93a1a1;
  padding-top: 40px;
}
#footer h5, #footer h6 {
  color: #839496;
}
.footer {
  border-bottom:thin dotted #efefef;
}
.content {
  background: white;
  color: #657B83;
  margin-top: 10px;
}

.content img {
  max-width: 710px;
  height: auto;
}

/* Forms */

input,
button,
textarea {
  border:1px solid #93a1a1;
}
input[type="image"] {
  border:none;
}
button,
input[type="text"],
input[type="password"],
input[type="file"] {
  padding:2px 3px;
}
input[type="button"],
button {
  padding:1px 3px;
  cursor:pointer;
}
textarea {
  padding:4px 2px;
}
fieldset {
  border:1px solid #333;
}

legend {
  font-size:80%;
}

label {
  font-size:80%;
}

select {}
select option {}
select optgroup {}
textarea {}

#sell_box {
  -moz-box-shadow: 2px 2px 6px #333333;
  -webkit-box-shadow: 2px 2px 6px #333333;
  box-shadow:2px 2px 6px #333333;
  padding:10px;
  background:white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

}
#sell_box form {
  text-align: right;
}

body ::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

body ::-webkit-scrollbar-button:start:decrement,
body ::-webkit-scrollbar-button:end:increment  {
  height: 0px;
  width: 0px;
  display: block;
}

/* body ::-webkit-scrollbar-track-piece { */
/* background-color: #93a1a1; */
/* -webkit-border-radius: 6px; */
/* } */

body ::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #ccc;
  border: 4px solid #efefef;
  -webkit-border-radius: 8px;
}

.archives h3 {
  margin: 10px 0 10px -20px;
}
.archives span.date {
  width: 2em;
  display: inline-block;
}

.vimwin {

   margin-top:40px;
   margin-left: auto;
   margin-right: auto;
   margin-bottom:40px;


   border-radius: 5px;
   box-shadow:inset 0 1px 0 rgba(255,255,255,.6), 0 22px 70px 4px rgba(0,0,0,0.56), 0 0 0 1px rgba(0, 0, 0, 0.3);

}
.vimwin img {
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
 }
.vimhead {
  text-align: center;
  font-weight: bolder;
  font-size: 13px;
  line-height: 23px;
  text-shadow: #cbcccc 0 1px 0;
  color: #474747;
  font-weight: normal;
  margin-bottom: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
  background: -webkit-linear-gradient(rgba(233, 233, 233, 1.0), rgba(178, 178, 178, 1.0) 23px, #6A6A6A 1px, #EDEDED, #EDEDED 23px);
  border-bottom: 0;
}
pre code { background-color: #efefef}
pre {
  /* background: #efefef url('../images/shadow.png') repeat-x 0 0; */
  background-color: #efefef;
  padding: 1em;
  overflow: auto;
  color: #4d4d4c;
  font-size: 0.7em;
  font-family: 'Inconsolata', Monaco, "Courier New", Courier, monospace;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

