.purple {color: #5C359B; }
.green { color: #448E32; }
.orange { color: #ff6000; }
.yellow { color: #ffcc00; }
.dark_grey {color: #606060; }
.old_green { color: #009900; }
.old_purple { color: #b960ff; }

body { 
	background-color: #111111;
	color: #e6e6e6;
	font: 0.8em/1.5 "helvetica neue light", "helvetica neue", Helvetica, Arial, Sans-serif;
	background: #111 url(../images/cross-hatch.gif) top repeat-x;
	color: #999; 
}
hr {background:#606060;color:#606060;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#606060;}
h1{
	color: #448E32;
	letter-spacing: -0.1em;
	font-family: Courier New, Courier, mono
}
div.border {border-color:#606060;}
div.colborder {border-color:#606060;}
a {
	color: #38A0C3;
	color: #448E32;
	text-decoration: none;
	border-bottom:1px dotted #333333;
}
a:link {
	text-decoration: none;
}
a:visited {
	color: #448E32;
}
a:active {
	background: #333333;
	color: #448E32;
}
a:hover {
	text-decoration: none;
	background: #333333;
	color: #448E32;
}
a.image_link {
	text-decoration: none;
	border-bottom: none;
}
a.image_link:hover {
	background: none;
}
pre {
	background: black;
	padding: 1em; 
	overflow: auto;
	color: #606060;
    font-size: 12px;
}
.byline {
	color: #606060;
	margin-top: -15px;
	margin-bottom: 15px;
}
h2.title {
	padding-bottom: 0;
}
#header {
	/*background: #111111 url('../images/title_logo.png') no-repeat scroll top left;*/
	height: 75px;
	margin: 15px 0 -10px 0;
}
/*
#footer {
	color: black;
	background: #222222;
}
#footer h5, #footer h6 {
	color: white;
}
#footer div, #footer a {
	color: #eee;
}
	*/
