@import url("http://fonts.googleapis.com/css?family=Inconsolata");
@import url("http://fonts.googleapis.com/css?family=Cantarell");

.purple {color: #5C359B; }
.green { color: #448E32; }
.orange { color: #ff6000; }
.yellow { color: #ffcc00; }
.dark_grey {color: #606060; }
.old_green { color: #009900; }
.old_purple { color: #b960ff; }

body {
  font: 0.9em/1.5 "helvetica neue light", "helvetica neue", Helvetica, Arial, Sans-serif;
  color: #999;
  color: #e6e6e6;
}
hr {background:#606060;color:#606060;}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Cantarell', arial, serif;
  font-weight:bold;
  color:#222;
  border: none;
}
h1, h2, h3 {
  color: #448E32;
  text-shadow: 3px 3px 3px #bbb;
}
h4 {margin-bottom: 0.3em}
h5 {margin-bottom: 0.3em}
div.border {border-color:#606060;}
div.colborder {border-color:#606060;}
a {
  color: #38A0C3;
  color: #448E32;
  text-decoration: underline;
  /*border-bottom:1px dotted #333333;*/
}
a:link {
  text-decoration: none;
}
a:visited {
  color: #448E32;
}
a:active {
  /*background: #333333;*/
  color: #448E32;
}
a:hover {
  text-decoration: none;
  /*background: #CCC;*/
  color: #448E32;
}
a.image_link {
  text-decoration: none;
  border-bottom: none;
}
a.image_link:hover {
  background: none;
}
pre {
  background: #222222 url('../images/shadow.png') repeat-x 0 0;
  padding: 1em;
  overflow: auto;
  color: white;
  font-size: 0.9em;
  font-family: 'Inconsolata', Monaco, "Courier New", Courier, monospace;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.byline {
  color: #606060;
  margin-top: -15px;
  margin-bottom: 15px;
}
h2.title {
  padding-bottom: 0;
}
#header {
  padding-top: 2em;
}
#header_row {
  background: white url('../images/title_bg.png') repeat-x 0 0;
  height: 100px;
}
#footer {
background: #222222 url('../images/shadow.png') repeat-x 0 0;
color: white;
}
  #footer h5, #footer h6 {
  color: white;
}
/*
  #footer div, #footer a {
  color: blue;
}
  */
.content {
  background-color: white;
  color: black;
  border-bottom:4px solid #999;
}

.footer {
  border-bottom:4px solid #999;
}
/* Forms */

input,
button,
textarea {
  border:1px solid #999;
}
button,
input[type="text"],
input[type="password"],
input[type="file"] {
  padding:2px 3px;
}
input[type="button"],
button {
  padding:1px 3px;
  cursor:pointer;
}
input[type="button"].final-action,
button.final-action {
  background:#633;
}
textarea {
  padding:4px 2px;
}

fieldset {
  border:1px solid #333;
}

legend {
  font-size:80%;
}

label {
  font-size:80%;
  color: #999;
}

select {}
select option {}
select optgroup {}
textarea {}


