@import url("http://fonts.googleapis.com/css?family=Inconsolata");
@import url("http://fonts.googleapis.com/css?family=Cantarell");
@import url("http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT");

.purple {color: #5C359B; }
.green { color: #448E32; }
.orange { color: #ff6000; }
.yellow { color: #ffcc00; }
.dark_grey {color: #606060; }
.old_green { color: #009900; }
.old_purple { color: #b960ff; }

.dark_red { color: #670100; }

body {
  font: 0.9em/1.5 "helvetica neue light", "helvetica neue", Helvetica, Arial, Sans-serif;
  color: #999;
  color: #e6e6e6;
}
hr {background:#606060;color:#606060;}
hr.space {background:none;color:none;}
h1, h2, h3, h4, h5, h6 {
  font-family: 'OFL Sorts Mill Goudy TT', arial, serif; 
  font-weight:bold;
  color:#222;
  border: none;
}
h1, h2, h3 {
  color: black;
  text-shadow: 1px 1px 1px #eee;
}
h4 {margin-bottom: 0.3em}
h5 {margin-bottom: 0.3em}
div.border {border-color:#606060;}
div.colborder {border-color:#606060;}
a {
  color: #97031F;
  text-decoration: underline;
  /*border-bottom:1px dotted #333333;*/
}
a:link {
}
a:visited {
  color: #670100;
}
a:active {
  color: #670100;
}
a:hover {
  text-decoration: underline;
  color: red;
}
a.image_link {
  text-decoration: none;
  border-bottom: none;
}
a.image_link:hover {
  background: none;
}
.byline {
  color: #606060;
  margin-top: -15px;
  margin-bottom: 15px;
}
h2.title {
  padding-bottom: 0;
}
#header {
  padding-top: 15px;
}
#header_row {
  background: #670100 url('../images/header.png') no-repeat;
  height: 135px;
  margin-top: -25px;
}
.header_by_line {
  color: #606060; 
  height: 80px;
  padding-top: 20px;
}

#footer a {
  color: #B35151;
}

#footer {
  background: #670000 url('../images/shadow.png') repeat-x 0 0;
  color: #D99898;
}
#footer h5, #footer h6 {
  color: white;
}
.content {
  background: white url('../images/shadow.png') repeat-x 0 0;
  color: black;
}

.footer {
  border-bottom:thin dotted black;
}
/* Forms */

input,
button,
textarea {
  border:1px solid #999;
}
button,
input[type="text"],
input[type="password"],
input[type="file"] {
  padding:2px 3px;
}
input[type="button"],
button {
  padding:1px 3px;
  cursor:pointer;
}
input[type="button"].final-action,
button.final-action {
  background:#633;
}
textarea {
  padding:4px 2px;
}

fieldset {
  border:1px solid #333;
}

legend {
  font-size:80%;
}

label {
  font-size:80%;
  color: #999;
}

select {}
select option {}
select optgroup {}
textarea {}

