<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head profile="http://www.w3.org/2005/10/profile">
		<link rel="icon" type="image/png" href="/images/favicon.png" /> 
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Codeography #=> "{{ page.title }}"</title>
		<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection">
		<link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print">    
		<!--[if IE]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
		<link rel="stylesheet" href="/stylesheets/codeography.css" type="text/css" media="screen, projection">    
		<link href="/atom.xml" rel="alternate" title="Codeography.com (Atom)" type="application/atom+xml" />
	</head>
	<body>
		<div class="container">  
			<div id="header"><a class="image_link" href="/"><img src="/images/title_logo.png" /></a></div>
			<!--<h1 class="header"><span class="green">&gt;&gt;</span> <span class="purple">codeography</span></h1>
			<h3 class="dark_grey"><span>#=&gt;</span> "<span>programming is fun again.</span>"</h3>-->
			<hr />
			<div class="span-15 prepend-1 ">
				<div id="content">
					{{ content }}
				</div>
			</div>
			<div class="span-7 prepend-1 last">
				<h3>Projects</h3>
				<ul>
					<li><a href="http://github.com/csexton/twitter_archive/tree">Twitter Archive</a></li>
					<li><a href="http://github.com/csexton/dotfiles/tree">dotfiles</a></li>
					<li><a href="http://github.com/csexton/ssh-keyput/tree">ssh keyput</a></li>
					<li><a href="http://github.com/csexton/standup/tree">Standup Microblog</a></li>
				</ul>
				
				<h3>Recent Entries</h3>
				<ul>
					{% for rpost in site.posts limit:20 %}
					<li><a href="{{ rpost.url }}">{{ rpost.title }}</a></li>
					{% endfor %}
				</ul>

				<h3>Syndicate</h3>
				<ul>
					<li><a href="/atom.xml">Subscribe</a></li>
				</ul>
			</div>
		</div>



		<div id="footer">
			<div class="container">

				<br />
				<br />
				<div class="span-7">
					<h5>Links</h5>
					<ul id="recently">
						<li><a href="http://github.com/csexton/codeography.com/issues">Report a bug</a></li>
					</ul>

				</div>

				<div class="span-8 prepend-1">

					<h5>Neat things</h5>
					<ul class="archive-list">
						<li><a href="http://twitter.com">Twitter</a></li>
						<li><a href="http://github.com">Github</a></li>
					</ul>

				</div>

				<div class="span-7 prepend-1 last">
					<h5>Creative Commons</h5>
					<p>
					Except where otherwise <a href="http://creativecommons.org/policies#license">noted</a>, content on this site is
					licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>
					
				</div>

			</div>
		</div>
	</body>
</html>
