---
layout: base
---


<div class="container">

  <div class="span-14 prepend-2">
    {{ content }}
  </div>
  <div class="span-6 prepend-1 append-1 last noprint">

    <img style="margin: 0 0 1em 2em;" src="http://www.gravatar.com/avatar/df2ddf01dd917ebce6099f323f49e35f?s=128&d=identicon" />
    <p>
      I am a software developer who lives just outside Washington DC. I like to have adventures and build cool stuff.
    </p>
    <p>
      <h6>Want to get in touch?</h6>

      Email: 
      <script language="Javascript" type="text/javascript">
        <!--
        document.write('<a href="mai');
        document.write('lto');
        document.write(':&#99;&#118;');
        document.write('@');
        document.write('&#99;&#115;&#101;&#120;&#116;&#111;&#110;&#46;&#99;&#111;&#109;">');
        document.write('&#99;&#118;');
        document.write('@');
        document.write('&#99;&#115;&#101;&#120;&#116;&#111;&#110;&#46;&#99;&#111;&#109;<\/a>');
        // -->
      </script><noscript>&#99;&#118; at &#99;&#115;&#101;&#120;&#116;&#111;&#110; dot &#99;&#111;&#109;</noscript><br />
        
        Twitter: <a href="http://twitter.com/fuzzymonk">@fuzzymonk</a>
      </p>

      <p>
        <h6>Like to checkout my work?</h6>
        <ul>
          <li> <a href="/portfolio/">View My Portfolio</a> </li>
          <li> <a href="http://github.com/csexton">Checkout My Code</a> </li>
        </ul>
    </p>
    
  </div>
</div>

