---
layout: base
---
<div class='entry'>
	<h2 class='title'>{{ page.title }}</h2>
	<div class='byline'>{{ page.date | date:"%B %d, %Y" }}</div>
	<div class='body'>
		{{ content }}
	</div>
        <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/codeography/embed.js"></script><noscript><a href="http://codeography.disqus.com/?url=ref">View the discussion thread.</a></noscript><a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
	<div class='footer'>
	</div>
</div>

