---
layout: none
title: Viceroy - Vim configuration framework
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/stylesheets/print.css" type="text/css" media="print">
    <!--[if IE]><link rel="stylesheet" href="/stylesheets/ie.css" type="text/css" media="screen, projection"><![endif]-->
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://feeds.feedburner.com/codeography" />
    <link href='http://fonts.googleapis.com/css?family=Cantarell:regular,bold&subset=latin' rel='stylesheet' type='text/css'>

    <style>
      body {
        background-color: #C8E8C3;
        font-size: 18px;
        line-height: 24px;
        font-family: Helvetica, sans-serif;
      }
      .footer {
        font-size: 10px;
        text-align:center;
      }
      a {
        color: #A4454C;
      }
      pre {
        -moz-border-radius: 15px;
        background-color: #91A28E;
        background-color: #DAF3D6;
        border-radius: 15px;
        padding: 15px;
        font-size: 14px;

      }
    </style>

    {% include ga.html %}
  </head>
  <body>
    <div class="container">


      <div class="header">
        <img alt="Viceroy Logo" src="/viceroy/header.png" />
      </div>

      <hr>
      <div class="span-20 prepend-2">
        {{ content }}
      </div>

      <div class="span-20 prepend-2 term">
      </div>

      <div class="footer span-24">Logo and design by Christopher Sexton from <a href="http://www.codeography.com/">Codeography</a></div>


      <a href="http://github.com/csexton/viceroy"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://gs1.wac.edgecastcdn.net/80460E/assets/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub"></a>

    </div>

    <script type="text/javascript">
      //<![CDATA[
      (function() {
        var links = document.getElementsByTagName('a');
        var query = '?';
        for(var i = 0; i < links.length; i++) {
          if(links[i].href.indexOf('#disqus_thread') >= 0) {
            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
          }
        }
        document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/codeography/get_num_replies.js' + query + '"></' + 'script>');
        })();
      //]]>
    </script>
  </body>
</html>
